* {
  padding: 0;
  margin: 0;
}
.btn1 {
  background-color: rgb(107, 86, 230);
  margin: 1px;

  border-radius: 5px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}

.btn2 {
  cursor: pointer;
  background-color: rgb(196, 23, 152);
  margin: 1px;

  border-radius: 5px;
  height: 30px;
  width: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 100px 300px;
  background-color: white;
  justify-content: center;
  padding: 2px;
}

.check {
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: rgb(67, 67, 200);
  margin: 0px 7px 0px 350px;
  padding: 6px;
  border-radius: 5px;
}
.btn3 {
  background-color: rgb(76, 0, 255);
  margin: 2px;

  border-radius: 5px;
  height: 30px;
  width: 58px;
  cursor: pointer;
}
.cancel {
  padding: 8px;
  cursor: pointer;

  margin: 15px;
}
.image {
  width: 380px;
  height: 200px;
}

.home h5 {
  margin-left: 460px;
  margin-top: 100px;
}

.downside h5 {
  margin-left: 25%;
  padding-left: 15px;
}
.lastpage {
  margin-left: 200px;
  padding: 3px;
  margin-top: 15px;
  padding: 10px;
}

.active_class {
  list-style: none;
  text-decoration: none;
  font-size: larger;
  color: white;
}
.active-class {
  list-style: none;
  text-decoration: none;
  font-size: larger;
}
.singup h2 {
  padding: 8px 5px 0px 0px;
  margin: 40px 90px 0px 200px;
}

.singup {
  background-color: pink;
  margin-left: 400px;

  border-color: cyan;
  border-radius: 8px;
  width: fit-content;
}
.singup input {
  padding: 5px;
  margin: 40px 160px 0px 200px;
  border-radius: 4px;
}
.prebtn {
  background-color: rgb(67, 67, 200);
  border-radius: 10px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 35px 0px 9px 200px;
  cursor: pointer;
}

.grid-containers {
  display: grid;
  grid-template-columns: auto auto auto;
  float: left;
  grid-gap: 3px;
  margin-left: 20px;
  padding: 3px;
}
.grid-containers > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}

.ord {
  margin-left: 1%;
  margin-top: 3%;
  background-color: blue;
}
.img {
  width: 35px;
  height: 35px;
  position: relative;
  margin: -2px 0px -3px 0px;

  background-color: blue;
}
.num {
  width: 29px;
  height: 29px;
  right: 600px;
  top: 10px;
  padding-left: 7px;
  background-color: blueviolet;
  border-radius: 50%;
  border: solid white;
}
.top {
  margin-left: 310px;
}
.now {
  margin-left: 45%;
}

.mar {
  background-color: rgb(37, 25, 209);
  display: flex;
  color: white;
}
.mar h4 {
  padding-right: 100px;
}

@media (max-width: 900px) {
  #num-1 {
    display: block;

    margin-left: 0%;
  }
}
@media (max-width: 900px) {
  #img-1 {
    display: block;
    margin: -25px 0px -100px 0px;
    background-color: rgb(37, 25, 209);
  }
}
@media (max-width: 900px) {
  #top-1 {
    display: block;
    margin-left: 150px;
    background-color: rgb(37, 25, 209);
  }
}

@media (max-width: 900px) {
  #ch {
    margin-left: 100px;
  }
}
@media (max-width: 900px) {
  #d5 {
    margin-left: 100px;
    background-color: pink;
  }
}
.c5 {
  margin-left: 26%;
}
@media (max-width: 900px) {
  #wel {
    margin-left: 50px;
  }
}
@media (max-width: 900px) {
  #nem {
    background-color: rgb(67, 67, 200);
  }
}
@media (max-width: 900px) {
  #or {
    margin-right: 50%;
    background-color: rgb(67, 67, 200);
  }
}
@media (max-width: 700px) {
  #cont {
    margin-left: 70%;
  }
}
